<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CyberForge</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/dashboard.css">

  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <img src="../image/Logo.png" alt="CyberForge Logo" style="height: 150px;"> CyberForge
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> SDG
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">groups</span> Student
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
          <div class="main-title">
              <h2>SDG IN CLASSROOM</h2>
          </div>

          <div class="charts">

              <div class="charts-card">
                <h2 class="chart-title">Malaysia Climate Data</h2>
                <label for="y-axis-select">Select Y-axis Data:</label>
                <select id="y-axis-select">
                    <option value="Population">Population</option>
                    <option value="Sea Level">Sea Level</option>
                    <option value="CO2 Emission(Tons)">CO2 Emission (Tons)</option>
                    <option value="Temperature">Temperature (°C)</option>
                    <option value="Max Temperature">Max Temperature (°C)</option>
                    <option value="Min Temperature">Min Temperature (°C)</option>
                </select>
                <canvas id="bar-chart"></canvas>
              </div>

              <div class="charts-card">
                <h2 class="chart-title">Sea Level Source Data</h2>
                <canvas id="bar-chart-sealevel"></canvas>
              </div>

              <div class="charts-card">
                  <h2 class="chart-title">Population Source Data</h2>
                  <canvas id="bar-chart-population"></canvas>
              </div>

              <div class="charts-card">
                  <h2 class="chart-title">CO2 Emission Source Data</h2>
                  <canvas id="line-chart-co2"></canvas>
              </div>

              <div class="charts-card">
                  <h2 class="chart-title">Temperature Source Data</h2>
                  <canvas id="line-chart-temperature"></canvas>
              </div>


          </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- Custom JS -->
    <script src="../js/dashboard.js"></script>
    <script src="../js/chart.js"></script>
  </body>
</html>